.product__item {
    cursor: pointer;
    .product__info {
        .product__name {
            font-size: 1.2rem;
            font-weight: 600;
            margin-top: 15px;
            a {
                color: var(--primary-color);
            }
        }

        span {
            font-size: 0.9rem;
        }

        .product__item-bottom {
            .price {
                font-size: 1.3rem;
                color: var(--primary-color);
                font-weight: 500;
            }

            span {
                i {
                    font-size: 1.3rem;
                    padding: 5px;
                    background-color: var(--primary-color);
                    color: var(--white);
                    border-radius: 50%;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .product__item {
        .product__info {
            .product__name {
                font-size: 1.1rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .product__item {
        .product__info {
            .product__name {
                font-size: 1rem;
            }

            .product__item-bottom {
                span {
                    i {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
