.header {
    width: 100%;
    height: 70px;
    line-height: 70px;

    .header__nav {
        .logo {
            a {
                color: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 8px;
                img {
                    width: 35px;
                    height: 35px;
                }
                div {
                    h1 {
                        font-size: 1.2rem;
                        font-weight: 700;
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    .navigation {
        .menu {
            a {
                position: relative;
                color: var(--primary-color);
                font-weight: 500;
                font-size: 1.2rem;
                background-image: linear-gradient(to right, var(--active), var(--active) 50%, #000 50%);
                background-size: 200% 100%;
                background-position: -100%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;

                &:before {
                    content: '';
                    background: var(--active);
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    background-position: 0;
                    &::before {
                        width: 100%;
                    }
                }
            }
            .active__menu {
                color: var(--active);
                background-position: 0;
                &::before {
                    width: 100%;
                }
            }
        }
    }

    .navbar__icon {
        display: flex;
        column-gap: 1.2rem;

        span {
            i {
                font-size: 1.4rem;
                color: var(--primary-color);
                cursor: pointer;
            }

            img {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            &.fav__icon,
            &.cart__icon {
                position: relative;

                .badge {
                    position: absolute;
                    content: '';
                    top: 15%;
                    right: -5px;
                    width: 17px;
                    height: 17px;
                    color: var(--white);
                    background-color: var(--active);
                    border-radius: 50%;
                    font-size: 0.7rem;
                    font-weight: 600;
                    z-index: 10;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            // mobile menu
            &.mobile__menu {
                display: none;
            }
        }
    }

    // scroll
    &.sticky-scroll {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        box-shadow: 3px 3px 10px -3px #ddd;
        background-color: var(--white);
        animation: slide-down 0.8s;
    }
    @keyframes slide-down {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 0.9;
            transform: translateY(0);
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: 60px;
        line-height: 60px;
        .header__nav {
            .logo {
                a {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                    div {
                        h1 {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .navigation {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 999;
                display: none;
                animation: slide-right ease 0.8s;

                @keyframes slide-right {
                    from {
                        opacity: 0;
                        width: 133%;
                    }
                    to {
                        opacity: 1;
                        width: 100%;
                    }
                }

                .menu {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 250px;
                    height: 100%;
                    background-color: var(--white);
                    z-index: 9999;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .active__menu {
                display: block;
            }
            .navbar__icon {
                span {
                    i {
                        font-size: 1.2rem;
                    }

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    &.mobile__menu {
                        display: block;
                    }
                }
            }
        }
    }
}
